@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import url(styles/main.css);

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.project {
    margin-bottom: 150px;
}

.projects__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.projects__left {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 344px;
}

.project-title {
    /* h2 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.projects__btn {
    padding: 20px 25px;
    border: 2px solid #005BC1;
    background-color: rgba(0, 0, 0, 0);
}

.projects__btn:hover {
    cursor: pointer;
}

.cards {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
}

.card__images {
    max-width: 540px;
}

.card__texts {
    z-index: 1;
    left: 255px;
    top: 255px;
    position: absolute;
    max-width: 250px;
    background-color: #fff;
    padding: 20px 25px;
}

.card__title {
    /* h4 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    /* black */

    color: #343434;
}

.catalog {
    margin-bottom: 150px;
}

.decor__image {
    margin-right: 40px;
}

.catalog__title {
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}

.catalog__nav {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.catalog__item {
    list-style: none;
}

.catalog__link {
    /* h3 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
    transition: 0.5s;
}

.catalog__link:hover {
    text-decoration: underline;
    text-decoration-color: #005BC1;
    color: #005BC1;
}

.catalog__products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.product {
    max-width: 350px;
    height: 300px;
    border: 3px solid #005BC1;
    position: relative;
}

.product__img {
    width: 100%;
    object-fit: contain;
}

.product__desc {
    padding: 0px 25px;
    top: 199px;
    left: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}

.product__text {
    /* h4 */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}

.rent {
    margin-bottom: 100px;
}

.rent__content {
    display: flex;
    align-items: center;
}

.rent__desc {
    width: 35%;
}

.rent__text {
    /* p.text */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    /* black */

    color: #343434;
}

.rent__equip {
    width: 65%;
    padding: 30px;
    border: 3px solid #005BC1;
    margin-left: 95px;
}

.rent__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-title {
    /* h4 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.equip__content {
    display: flex;
    margin-top: 30px;
}
.equip__wrapper{
    width: 255px;
}
.equip__img {
    object-fit: contain;
    width: 100%;
    margin-right: 30px;
}

.equip__title {
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.equip__list {
    margin-top: 30px;
    margin-left: 30px;
}

.equip__item {
    /* p.small-text */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* black */
    color: #343434;
    margin-bottom: 20px;
}
.news{
    margin-bottom: 120px;
}
.news__title{
    margin-bottom: 77px;
}
.news__left {
    width: 250px;
}

.news__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 51px;
    border: none;
    background: #005BC1;
    transition: all 0.5s ease;
}

.news__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.news__btn:hover{
    background: #FFFFFF;
    color: #005BC1;
    border: 2px solid #005BC1;
}
.news__card-big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    
}
.news__card-big img{
    width: 255px;
    margin-right: 30px;
}
.big-card-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.news__read{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}
.big-card-info h3{
    text-decoration-line: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
 
}
.big-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.news__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__card-little{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news__card-little:first-child{
    margin-right: 60px;
}
.news__card-little:last-child h3{
    width: 100px;
}
.news__card-little div{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.news__card-little p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: #343434;
    
}
.news__card-little h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 20px;
}
.little-card-img{
    width: 128px;
}
.footer{
    height: 255px;
    background-color: rgba(0, 91, 193, 1);
}
.footer > div{
    display: flex;
    flex-direction: column;
}
.footer .section1{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.section1 p:nth-child(1){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section1 p:nth-child(2){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.section1 p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.footer span{
    display: block;
    border-bottom:1px solid white;
    width: 100%;
    margin-top: 30px;
}
.section2 ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 200px;
    margin-top: 10px;
}
.section2 {
    width: 600px;
    margin-top: 15px;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.section3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.burger {
    background: rgba(0, 0, 0, 0);
    display: none;
    position: relative;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
  }
  
  .burger span {
    display: block;
    position: absolute;
    top: 17px;
    left: 5px;
    right: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  .burger span::before, .burger span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: #fff;
    content: '';
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  .burger span::before {
    top: -10px;
  }
  
  .burger span::after {
    bottom: -10px;
  }
  .little__cards{
      display: flex;
  }
@media (max-width:768px){
    .containerOne{
        max-width: 768px;
    }
    .burger{
        display: block;
        margin-left: 700px;
        margin-top: 20px;
    }
    .container{
        max-width: 768px;
    }
    .nav{
        display: none;
    }
    .main__bg{
        margin-left: 50px;
    }
    .header__title{
        font-size: 40px;
    }
    .card__images{
        max-width: 384px;
    }
    .card__texts{
        left: 135px;
        top: 155px;
        max-width: 225px;
    }
    .catalog__nav{
        width: 30%;
    }
    .product__desc{
        top: 209px;
        padding: 0px 10px;  
        width: 200px;
        left: 50px;
    }
    .product__text{
        font-size: 14px;
    }
    .rent__content{
        flex-direction: column;
    }
    .rent__desc{
        width: 100%;
        margin-bottom: 25px;
    }
    .rent__equip{
        width: 100%;
        margin: 0;
    }
    .news__cards{
        flex-direction: column;
    }
    .news__card-big{
        margin-bottom: 30px;
    }
    .project{
        margin-top: 50px;
    }
}