@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import url(styles/main.css);

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.project {
    margin-bottom: 150px;
}

.projects__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.projects__left {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 344px;
}

.project-title {
    /* h2 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.projects__btn {
    padding: 20px 25px;
    border: 2px solid #005BC1;
    background-color: rgba(0, 0, 0, 0);
}

.projects__btn:hover {
    cursor: pointer;
}
.cards {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
}

.card__images {
    max-width: 540px;
}

.card__texts {
    z-index: 1;
    left: 255px;
    top: 255px;
    position: absolute;
    max-width: 250px;
    background-color: #fff;
    padding: 20px 25px;
}

.card__title {
    /* h4 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    /* black */

    color: #343434;
}

.catalog {
    margin-bottom: 150px;
}

.decor__image {
    margin-right: 40px;
}

.catalog__title {
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}

.catalog__nav {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.catalog__item {
    list-style: none;
}

.catalog__link {
    /* h3 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
    transition: 0.5s;
}

.catalog__link:hover {
    text-decoration: underline;
    text-decoration-color: #005BC1;
    color: #005BC1;
}

.catalog__products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.product {
    max-width: 350px;
    height: 300px;
    border: 3px solid #005BC1;
    position: relative;
}

.product__img {
    width: 100%;
    object-fit: contain;
}

.product__desc {
    padding: 0px 25px;
    top: 199px;
    left: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}

.product__text {
    /* h4 */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}

.rent {
    margin-bottom: 100px;
}

.rent__content {
    display: flex;
    align-items: center;
}

.rent__desc {
    width: 35%;
}

.rent__text {
    /* p.text */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    /* black */

    color: #343434;
}

.rent__equip {
    width: 65%;
    padding: 30px;
    border: 3px solid #005BC1;
    margin-left: 95px;
}

.rent__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-title {
    /* h4 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}

.equip__content {
    display: flex;
    margin-top: 30px;
}

.equip__img {
    width: 255px;
    margin-right: 30px;
}

.equip__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* black */

    color: #343434;
}
.equip__list{
    margin-top: 30px;
}
.equip__item {
    /* p.small-text */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* black */
    color: #343434;
    margin-bottom: 20px;
}